#window {
        font-size: 18px;
        font-family: "monospace";
        color: #a9b1d6;
        background-color: #1a1b26;
}

#entry:selected {
        background-color: #ff9e64;
}

#input {
        border-radius: 0;
        border-color: #ff9e64;
        background-color: #1a1b26;
}

