* {
    font-family: JetBrainsMonoNerdFont-Regular, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;}

window#waybar {
    background-color: #1a1b26;
}

#workspaces button {
    margin-right: 5;
}

#workspaces button.visible {
    background: #ff9e64;
    color: #1a1b26;
    border-radius: 25%;
    border-width: 1;
}

#wireplumber,
#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
    padding: 0 10px;
    color: #a9b1d6;
}

#wireplumber,
#pulseaudio {
    color: #f7768e;
}

#cpu {
    color: #73daca;
}

#memory {
    color: #7aa2f7;
}

#network {
    color: #e0af68;
}

#clock {
    color: #bb9af7;
}

