* {
    border: none;
    border-radius: 0px;
    font-family: "Inconsolata";
    font-size: 16px;
    min-height: 0;
    color: #c0c5ce;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 4px solid #a3be8c;
    background: transparent;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label{
    color: #a3be8c;
}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #689d6a; 
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 5px;
    margin: 0 10px;
}


#idle_inhibitor {
    padding: 0 10px;
}

#idle_inhibitor.activated {
    background-color: #a3be8c;
    color: #1d2021;
}


#custom-music {
    color: #ecbe7b;
    margin: 0 15px;
    padding: 0 20px;
    border-bottom: 4px solid #ecbe7b;

}


#network.disconnected {
    color: #bf616a;
    border-bottom: 4px solid #bf616a;
}


#pulseaudio.muted {
    padding: 0 20px;
    color: #bf616a;
    border-bottom: 4px solid #bf616a;
}


#clock {
    margin: 0;
    color: #d08770;
    border-bottom: 4px solid #d08770;
}

#window {
    margin: 0;
    color: #8fa1b3;
    border-bottom: 4px solid #8fa1b3;
}
