* {
    border: none;
    border-radius: 0;
    font-family: mononoki Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #a9b1d6;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#window, #tray, #pulseaudio, #cpu, #memory, #network, #clock, #wlogout  {
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
    border-radius: 5;
}

#pulseaudio {
	color: #e0af68;
}

#cpu {
	color: #73daca;
}

#memory {
    color: #bb9af7;
}

#network {
	color: #f7768e;}

#clock {
    color: #b48ead;
    margin-right: 10px;
}
